################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/QuanLiChiTieu/QuanLiChiTieu/bin/Debug/netstandard2.0
/QuanLiChiTieu/QuanLiChiTieu/obj
/QuanLiChiTieu/QuanLiChiTieu.Android/bin/Debug
/QuanLiChiTieu/QuanLiChiTieu.Android/obj
